apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "envoy-proxy-bouncer.fullname" . }}
  labels:
    {{- include "envoy-proxy-bouncer.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "envoy-proxy-bouncer.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "envoy-proxy-bouncer.labels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "envoy-proxy-bouncer.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: grpc
              containerPort: {{ .Values.config.server.grpcPort }}
              protocol: TCP
            {{- if .Values.config.captcha.enabled }}
            - name: http
              containerPort: {{ .Values.config.server.httpPort }}
              protocol: TCP
            {{- end }}
          env:
          {{- with .Values.config }}
            {{- if and .bouncer.apiKeySecretRef .bouncer.apiKeySecretRef.name .bouncer.apiKeySecretRef.key }}
            - name: ENVOY_BOUNCER_BOUNCER_APIKEY
              valueFrom:
                secretKeyRef:
                  name: {{ .bouncer.apiKeySecretRef.name | quote }}
                  key: {{ .bouncer.apiKeySecretRef.key | quote }}
            {{- else if .bouncer.apiKey }}
            - name: ENVOY_BOUNCER_BOUNCER_APIKEY
              value: {{ .bouncer.apiKey | quote }}
            {{- end }}
            {{- with .bouncer.lapiURL }}
            - name: ENVOY_BOUNCER_BOUNCER_LAPIURL
              value: {{ . | quote }}
            {{- end }}
            {{- with .bouncer.enabled }}
            - name: ENVOY_BOUNCER_BOUNCER_ENABLED
              value: {{ . | quote }}
            {{- end }}
            {{- with .bouncer.metrics }}
            - name: ENVOY_BOUNCER_BOUNCER_METRICS
              value: {{ . | quote }}
            {{- end }}
            {{- with .bouncer.tickerInterval }}
            - name: ENVOY_BOUNCER_BOUNCER_TICKERINTERVAL
              value: {{ . | quote }}
            {{- end }}
            {{- with .bouncer.metricsInterval }}
            - name: ENVOY_BOUNCER_BOUNCER_METRICSINTERVAL
              value: {{ . | quote }}
            {{- end }}
            {{- with .bouncer.cacheCleanupInterval }}
            - name: ENVOY_BOUNCER_BOUNCER_CACHECLEANUPINTERVAL
              value: {{ . | quote }}
            {{- end }}
            {{- with .trustedProxies }}
            - name: ENVOY_BOUNCER_TRUSTEDPROXIES
              value: {{ join "," . | quote }}
            {{- end }}
            {{- with .waf.enabled }}
            - name: ENVOY_BOUNCER_WAF_ENABLED
              value: {{ . | quote }}
            {{- end }}
            {{- with .waf.timeout }}
            - name: ENVOY_BOUNCER_WAF_TIMEOUT
              value: {{ . | quote }}
            {{- end }}
            {{- if and .waf.apiKeySecretRef .waf.apiKeySecretRef.name .waf.apiKeySecretRef.key }}
            - name: ENVOY_BOUNCER_WAF_APIKEY
              valueFrom:
                secretKeyRef:
                  name: {{ .waf.apiKeySecretRef.name | quote }}
                  key: {{ .waf.apiKeySecretRef.key | quote }}
            {{- else if .waf.apiKey }}
            - name: ENVOY_BOUNCER_WAF_APIKEY
              value: {{ .waf.apiKey | quote }}
            {{- end }}
            {{- with .waf.appSecURL }}
            - name: ENVOY_BOUNCER_WAF_APPSECURL
              value: {{ . | quote }}
            {{- end }}
            {{- with .captcha.enabled }}
            - name: ENVOY_BOUNCER_CAPTCHA_ENABLED
              value: {{ . | quote }}
            {{- end }}
            {{- with .captcha.provider }}
            - name: ENVOY_BOUNCER_CAPTCHA_PROVIDER
              value: {{ . | quote }}
            {{- end }}
            {{- with .captcha.siteKey }}
            - name: ENVOY_BOUNCER_CAPTCHA_SITEKEY
              value: {{ . | quote }}
            {{- end }}
            {{- if and .captcha.secretKeySecretRef .captcha.secretKeySecretRef.name .captcha.secretKeySecretRef.key }}
            - name: ENVOY_BOUNCER_CAPTCHA_SECRETKEY
              valueFrom:
                secretKeyRef:
                  name: {{ .captcha.secretKeySecretRef.name | quote }}
                  key: {{ .captcha.secretKeySecretRef.key | quote }}
            {{- else if .captcha.secretKey }}
            - name: ENVOY_BOUNCER_CAPTCHA_SECRETKEY
              value: {{ .captcha.secretKey | quote }}
            {{- end }}
            {{- with .captcha.cacheDuration }}
            - name: ENVOY_BOUNCER_CAPTCHA_CACHEDURATION
              value: {{ . | quote }}
            {{- end }}
            {{- with .captcha.callbackURL }}
            - name: ENVOY_BOUNCER_CAPTCHA_CALLBACKURL
              value: {{ . | quote }}
            {{- end }}
            {{- with .captcha.cacheCleanupInterval }}
            - name: ENVOY_BOUNCER_CAPTCHA_CACHECLEANUPINTERVAL
              value: {{ . | quote }}
            {{- end }}
          {{- end }}
            - name: ENVOY_BOUNCER_SERVER_GRPCPORT
              value: {{ .Values.config.server.grpcPort | default (.Values.config.server.port | default .Values.service.port) | quote }}
            {{- if .Values.config.captcha.enabled }}
            - name: ENVOY_BOUNCER_SERVER_HTTPPORT
              value: {{ .Values.config.server.httpPort | quote }}
            {{- end }}
            - name: ENVOY_BOUNCER_SERVER_LOGLEVEL
              value: {{ .Values.config.server.logLevel }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          {{- with .Values.volumeMounts }}
          volumeMounts:
            {{- toYaml . | nindent 12 }}
          {{- end }}
      {{- with .Values.volumes }}
      volumes:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
