replicaCount: 1 # @schema default: 1

image:
  repository: ghcr.io/kdwils/envoy-proxy-bouncer # @schema default: "ghcr.io/kdwils/envoy-proxy-bouncer"
  pullPolicy: IfNotPresent # @schema default: "IfNotPresent"
  tag: "" # @schema default: ".Chart.AppVersion"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true # @schema default: true
  name: ""

podSecurityContext: {}

securityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop:
      - all
  readOnlyRootFilesystem: true
  runAsNonRoot: true
  runAsUser: 1000

service:
  type: ClusterIP # @schema default: ClusterIP
  port: 8080 # @schema default: 8080

resources:
  limits:
    cpu: 100m
    memory: 128Mi

config:
  server:
    port: 8080 # @schema default: 8080
    logLevel: "info" # @schema default: "info"
  trustedProxies: [] # @schema default: []

  bouncer:
    enabled: true # @schema default: true
    metrics: false # @schema default: false
    lapiURL: "http://crowdsec-service:8080" # @schema default: "http://crowdsec-service:8080"
    tickerInterval: "10s" # @schema default: "10s"
    apiKey: "" # @schema default: ""
    apiKeySecretRef: {} # @schema type: object

  waf:
    enabled: false # @schema default: false
    appSecURL: "http://crowdsec-appsec-service:7422" # @schema default: "http://crowdsec-appsec-service:7422"
    apiKey: "" # @schema default: ""
    apiKeySecretRef: {} # @schema type: object

  captcha:
    enabled: false # @schema default: false
    provider: "recaptcha" # @schema default: "recaptcha"
    siteKey: "" # @schema default: ""
    secretKey: "" # @schema default: ""
    secretKeySecretRef: {} # @schema type: object
    cacheDuration: "15m" # @schema default: "15m"
    hostname: "" # @schema default: ""

autoscaling:
  enabled: false # @schema default: false
  minReplicas: 1 # @schema default: 1
  maxReplicas: 10 # @schema default: 10
  targetCPUUtilizationPercentage: 80 # @schema default: 80
  targetMemoryUtilizationPercentage: 80 # @schema default: 80

securityPolicy:
  create: false # @schema default: false
  gatewayName: "" # @schema default: ""
  gatewayNamespace: "envoy-gateway-system" # @schema default: "envoy-gateway-system"
